AddWorkoutModal.css
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    flex-direction: column;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h2 {
    text-align: center;
    margin: 0;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .exercises-section,
  .cardio-section {
    margin-top: 10px;
  }
  
  /* .exercises-section label, */
  .cardio-section label {
    display: block;
  }

  /* Add this CSS to your existing styles */

.exercises-section label {
  display: block;
}

.exercises-section label input {
  width: 100%; /* Change this to your desired width */
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.exercises-section .exercise-info {
  /* display: flex;
  align-items: column; */
  margin-top: 5px;
}

.exercises-section .exercise-info label {
  width: 100%; /* Set the desired width for each field */
}

.exercises-section .exercise-info input {
  width: 100%; /* Set the desired width for each field */
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 0; /* Reset margin-left to align with the labels */
}
.sets-reps-weight {
  display: flex;
}
 
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;

  }
  
  button:hover {
    background-color: #0056b3;
  }
  