h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;  /* Adjusted margin-bottom */
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}

.container > div {
    background-color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #B6D6CC;
}

.add-button {
    font-size: 0.9em;
    padding: 8px 16px;
    margin: 20px 0;
    background-color: #0070f3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-button:hover {
    background-color: #0051a1;
}

.food-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.food-item:hover {
    background-color: #d3d3d3; /* Replace with a slightly darker gray than the original. */
}

.food-item h3 {
    margin: 0;
    flex-grow: 1;
}

.food-item button {
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    background-color: #ccc;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.food-item button:hover {
    background-color: #aaa;
}

.meal-section {
    border: 1px solid #eaeaea;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.meal-section:last-of-type {
    margin-bottom: 0;
}

.meal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calories-box {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}

.calorie-calculation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calorie-calculation > div {
    margin: 0 10px;
}

.calorie-item, .calorie-separator {
    margin: 0 10px;
}

.calorie-item > div:first-child {
    font-size: 24px; 
    font-weight: bold;
}

.calorie-item > div:last-child {
    text-align: center;
}

.date-navigation {
    display: flex; /* Use Flexbox */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align the main axis items (horizontally) in the center */
    margin-bottom: 10px;
}

.date-navigation h2 {
    margin: 0 20px; /* Add some margin to the left and right of the date */
}

.date-navigation button {
    background-color: #f7f7f7; /* Light gray background color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Some padding */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s; /* Add a transition for a smooth color change */
}

.date-navigation button:hover {
    background-color: #e0e0e0; /* Darker gray background color on hover */
}

.positive {
    color: green;
}

.negative {
    color: red;
}
