/* Your CSS file */
.header-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.close-button {
  background-color: #ccc; /* Gray background color */
  padding: 8px; /* Adjust padding as needed */
  border-radius: 10%; 
}

.close-button svg {
  fill: white; /* Fill color for the "x" icon */
  width: 12px; /* Adjust the width and height as needed */
  height: 12px;
}
.last-performed {
  font-style: italic;
  color: grey;
}

